*{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border: 0.1em solid rgba(169, 169, 169, 0.486);
    border-radius: 0.2em;
    margin: 1em;
}

.title{
    flex: 1 100%;
    text-align: center;
    margin: 2em 0em 0.4em 0em;
}

.subtitle{
    flex: 1 100%;
    text-align: center;

}

button{
    margin: 3em 0px;
    background: linear-gradient(208deg, rgb(46, 36, 250) 0%, rgba(67, 67, 212, 0.404) 35%, rgb(179, 223, 231) 100%);
    padding: 1em;
    font-weight: bold;
    color: rgba(14, 13, 13, 0.842);
    border: 0.1em blue;
    border-radius: 0.3em;  
    animation: shake 2s infinite;  
}

@keyframes shake{
    10% {transform: scale(1.05) rotate(5deg);}
    20% {transform: scale(1.05) rotate(-5deg);}
    30% {transform: scale(1.05) rotate(5deg);}
    40% {transform: none;}
}


